比赛链接：https://tianchi.aliyun.com/dataset/dataDetail?dataId=649&userId=1

原始数据太大，有 100,000,000+ 条记录，电脑处理太耗时，因此从其中随机采样，取约 1% 的记录（约 100 万条），做成新的数据集。
注意：随机采样的时候，应该抽 1% 用户，组合他们的所有记录，而不是从所有记录中直接抽取 1%，否则会影响分析结果（如平均每人点击率将大幅偏低）。**要反映整体用户的情况，应该对整体用户来抽样，而不是对用户产生的记录（间接数据）来采样。**

本项目其他的分析，都依赖于新生成的数据集，因此分析出的结论可能与实际情况不完全相符。

In [43]:
import pandas as pd

df = pd.read_csv("./data/UserBehavior.csv")

# 原始数据没有列名，此处为数据集添加列名
df.columns = ["user_id", "product_id", "product_category_id", "behavior_type", "time_stamp"]

df.head()

   user_id  product_id  product_category_id behavior_type  time_stamp
0        1     2333346              2520771            pv  1511561733
1        1     2576651               149192            pv  1511572885
2        1     3830808              4181361            pv  1511593493
3        1     4365585              2520377            pv  1511596146
4        1     4606018              2735466            pv  1511616481

In [53]:
import numpy as np

# 从原始数据结构随机采样，得到 1% 用户的数据
unique_user_id_array = df["user_id"].unique()
part_user_id = np.random.choice(unique_user_id_array, int(0.01*len(unique_user_id_array)), replace=False) 
part_df = df[df["user_id"].isin(part_user_id)]

part_df.head()

       user_id  product_id  product_category_id behavior_type  time_stamp
19850  1000865     1972416              2667323            pv  1511594748
19851  1000865     2762748              2667323            pv  1511594817
19852  1000865     4189981              1108912            pv  1511595033
19853  1000865     4464941              2096639            pv  1511836506
19854  1000865     2655774              2096639            pv  1511836700

In [57]:
# index 取 False 表示在 csv 中不保存行序号
part_df.to_csv("./data/UserBehavior_part.csv", index=False)